.App {
  text-align: center;
  background-color: #14161a;
}

.App-header {
  background-color: #14161a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.meme {
  display: block;
  width: 55%;
  float: right;
}
