.friend-card-wrapper {
  background: #333333;
  color: #bb86fc;
  box-shadow: 7px 10px rgb(204, 204, 204, 0.5);
  border: 2px solid black;
  margin: 2rem;
  height: 150px;
  width: 100%;
}

.text-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.friend-icon {
  color: rgb(204, 204, 204, 0.9);
}
