.friend-card-wrapper {
  background: white;
  color: #14161a;
  box-shadow: 5px 10px #888888;
  border: 2px solid black;
  margin: 2rem;
  height: 150px;
  width: 800px;
  display: flex;
}

.text-content {
  display: flex;
  align-content: flex-start;
  font-size: 2rem;
}
